/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=
domail search from section start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.domain-category{
	margin-bottom:55px;
	h5{
		color:#fff;
		flex-basis:20%;
		font-size:20px;
		line-height:22px;
		@include media-breakpoint-only(xs) {
	        font-size:18px;
	    }
		.d-price{
			display:block;
			font-size:16px;
			font-weight:300;
			font-family: 'Roboto', sans-serif;
			color:#fff;	
			@include media-breakpoint-only(xs) {
		        font-size:14px;
		    }
			span{
				font-size:14px;
			}
		}
	}
}
.domain-search-form-wrapper{
	.input-group{
		width:100%;
		height:60px;
		background:$primary-color;
		padding:10px;
		margin-bottom:45px;
	}
	.input-group-append{
		width:100%;
	}
	.domain-search-form{
		input,select{
			height:40px;
			border:0;
			padding:5px 25px;
		}
		input[type=url]{
			width:80%;
			@include media-breakpoint-only(xs) {
		        padding:5px;	    
		    }
		}
		select{
			width:20%;
			background:#000;
			color:#fff;
			@include media-breakpoint-only(lg) {
		         padding:5px 16px;
		    }
			@include media-breakpoint-only(xs) {
		        padding:5px 0;	    
		    }

		}
		input[type=submit]{
			font-size:16px;
			text-transform:capitalize;
			font-family: 'Merriweather', serif;
		}
	}
}

/* =-=-=-=-=-=-=-=-=-=-=-=-=-=
domail search from section end 
=-=-=-=-=-=-=-=-=-=-=-=-=-= */