/* =-=-=-=-=-=-=-=-=-=-=
mobile-menu section style start 
=-=-=-=-=-=-=-=-=-=-= */

.mobile-menu{
	.mean-bar{
		.mean-nav{
			background-color: #ffffff;
		    position: relative;
		    top: 70px;
		    z-index: 999999;
		    box-shadow: 0 2px 7px #e6ebee;
		    left: -50px;
		    @include media-breakpoint-only(xs) {
		        left: 13%;
		        top:10px;
		    }
		    >ul{
		    	margin-bottom: 90px;
			    border: 1px solid #eeeeee;
			    overflow-x: hidden;
			    max-height: 240px;
			    overflow-y: auto;
			    @include media-breakpoint-only(xs) {
			        margin-bottom:20px;
			    }
			    li{
			    	position: relative;
				    display: block;
				    float: left;
				    width: 100%;
				    margin-left:0;
				    padding:0;
				    &:last-child{
				    	border-top:0;
				    }
				    a{
				    	font-size: 13px;
					    display: block;
					    color: #444444;
					    font-weight: 600;
					    text-transform: uppercase;
					    line-height: 44px;
					    position: relative;
					    border-bottom: 1px solid #eeeeee;
					    padding: 0 40px 0 20px;
					    text-align:left;
					    &:hover{
					    	border-color:$border-color;
					    }
				    }
				    a.mean-expand{
				    	border: 1px solid #eeeeee;
					    position: absolute;
					    right: -1px;
					    top: -12px;
					    font-size: 20px !important;
					    color: #444444;
					    line-height: 44px;
					    height: 46px;
					    width: 40px;
					    text-align: center;
					    padding: 0;
				    }
			    }
			    li.row{
			    	display:flex;
			    	margin-left:0;
			    	.col-lg-4{
			    		padding-right:0;
			    		padding-left:0;
			    	}
			    }
		    }
		}
	}
}


.mobile-menu .mean-bar .mean-nav > ul li ul
{
	    position: static;
	    background-color: rgba(0, 0, 0, 0.03);
	    margin: 0;
	    padding: 0 !important;
	    width: 100%;
	    -webkit-box-shadow: none;
	    box-shadow: none;
	    margin: 0;
	    display: none;
	    float: left;
	    width: 100%;
	    opacity: 1;
	    visibility: visible;
	    z-index: 1;
	    -webkit-transition: none;
	    -o-transition: none;
	    transition: none;
}
.mobile-menu .mean-bar .mean-nav > ul li ul
{
	padding: 0;
    margin: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    border-right: 0px solid transparent;
    width: 100%;
    display: block;
    float: left;
    width: 100%;
}
.mean-container .mean-nav ul li a.mean-expand {
	margin-top: 1px;
	width: 26px;
	height: 32px;
	padding: 12px !important;
	text-align: center;
	position: absolute;
	right: 0;
	top: -12px;
	z-index: 2;
	font-weight: 700;
	background: rgba(255,255,255,0.1);
	border: none !important;
	border-left: 1px solid rgba(255,255,255,0.4) !important;
	border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}
.mean-remove {
	display: none !important;
}


/* =-=-=-=-=-=-=-=-=-=-=
mobile-menu section style end 
=-=-=-=-=-=-=-=-=-=-= */