/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
	mobile menu bar style start 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.mobile-menu{
	.mean-bar{
		position:relative;
		.meanmenu-reveal{
			position:absolute;
			right: -25% !important;
    		top: 52px;
			z-index:999;
			color:$primary-color;
			span.menu-bar{
				height: 2px;
			    width: 26px;
			    background-color: $primary-color;
			    display: block;
			    margin: 8px 0;
			    &:before,&:after{
			    	content: "";
				    position: absolute;
				    left: 0;
				    width: 100%;
				    height: 2px;
				    background-color: $primary-color;
			    }
			    &:after{
			    	bottom:0;
			    }
			    &:before{
			    	top:0;
			    }
			}
			span.menu-close{
			    height: 2px;
			    width: 26px;
			    background-color: #fff!important;
			    display: block;
			    margin: 8px 0;
			    position:relative;
				&:after,&:before{
					content: "";
				    position: absolute;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    background-color: $primary-color;
				}
				&:after{
					bottom: 0;
				    -webkit-transform: rotate(-45deg);
				    -ms-transform: rotate(-45deg);
				    transform: rotate(-45deg);
				}
				&:before{
					top: 0;
				    -webkit-transform: rotate(45deg);
				    -ms-transform: rotate(45deg);
				    transform: rotate(45deg);
				}
			}
		}

	}
	
	
}


/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
	mobile menu bar style end 
=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */