/* =-=-=-=-=-=-=-=-=-=-=
tooltip popUp start 
=-=-=-=-=-=-=-=-=-=-= */

.popup{
	position: absolute;
    top: -0px;;
    left: -10px;
    background: $primary-color;
    font-family: 'Merriweather', serif;
    font-size:13px;
    color: #ffffff;
    padding: 2px 3px;
    width: 120px;
    text-align: center;
    text-transform: capitalize;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    @include media-breakpoint-only(xs) {
       left: -30px;
       font-size:12px;
       width: 110px;
    }
    &:after{
        position: absolute;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 8px solid $primary-color;
        bottom: -6px;
        left: 50%;
        margin-left: -8px;
        content: "";
    }
}
    

/* =-=-=-=-=-=-=-=-=-=-=
tooltip popUp end 
=-=-=-=-=-=-=-=-=-=-= */