/* =-=-=-=-=-=-=-=-=-=-=
variable start 
=-=-=-=-=-=-=-=-=-=-= */



$text-color: #444444;
$heading-color:#222222;
$border-color:#dddbdb;


$primary-color:#119ee6;

$transition-time:.3s;

/* =-=-=-=-=-=-=-=-=-=-=
variable end 
=-=-=-=-=-=-=-=-=-=-= */