/* =-=-=-=-=-=-=-=-=-=-=
reset style start 
=-=-=-=-=-=-=-=-=-=-= */


ul, ol, li, form, fieldset, legend
{
	margin: 0;
	padding: 0;
}
ul{
	list-style:none;
}

body,html{
	height:100%;
	font-family: 'Roboto', sans-serif;
	font-size:14px;
    line-height:1.8;
	color:$text-color;
}

a:focus, input:focus, textarea:focus, button:focus,select:focus { outline: 0 solid }
a{
	text-decoration:none;
}
img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   
   font-weight: 700;
   font-family: 'Merriweather', serif;
   color:$heading-color;
   
}
p{
	
	font-weight:400;
}

/* =-=-=-=-=-=-=-=-=-=-=
reset style end 
=-=-=-=-=-=-=-=-=-=-= */