/* =-=-=-=-=-=-=-=-=-=-=
feature section start 
=-=-=-=-=-=-=-=-=-=-= */

.single-feature-item{
	margin:30px 0;
	.feature-icon{
		margin-bottom:20px;
		padding-bottom:6px;
		position:relative;
		&:after{
			position:absolute;
			left:-2px;
			bottom:0;
			width:40px;
			height:1px;
			background:$primary-color;
			content:"";
		}
		i{
			color:$primary-color;
			font-size:24px;
		}
	}
	.feature-content{
		h3{
			font-size:15px;
			margin-bottom:15px;
			font-weight:900;
		}
		P{
			margin-bottom:0;
		}
	}
}


/* =-=-=-=-=-=-=-=-=-=-=
feature section end 
=-=-=-=-=-=-=-=-=-=-= */