/* =-=-=-=-=-=-=-=-=-=-=
homepage slider start 
=-=-=-=-=-=-=-=-=-=-= */

.homepage-slides{
	background:#f2f2f2;
	height:600px;
	flex-direction:row;
	align-items:center;
	@include media-breakpoint-only(md) {
        height:500px;
    }
    @include media-breakpoint-only(sm) {
        height:450px;
    }
    @include media-breakpoint-only(xs) {
        height:610px;
    }
}


/* =-=-=-=-=-=-=-=-=-=-=
homepage slider end 
=-=-=-=-=-=-=-=-=-=-= */